@model Construction
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/uploads/constructions/@Model.Image" width="300" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">@Model.Desc</p>

                    <form asp-action="delete" method="post">

                        <a asp-action="index" class="btn btn-primary">Cancel</a>
                        <button type="submit" class="btn btn-danger">Delete</button>

                    </form>       
                    
                </div>
            </div>
        </div>
    </div>
</div>

